{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body  class="main">
    <div class="container">
        <div class="container__profile-section">
            <div class="card-align"> 
                <div>
                    <img src="images/ProfilePic2.JPG"  class="avater-image" />
                </div>
                
                <div>
                    <h2>Hi</h2>
                      <h2> I am Vamsi Chokkapu</h2> 
                </div>
            </div>
            
            <p style="text-align: center;"> Motivated and quick learning individual seeking opportunity in software field. Curious to learn new technologies. Committed to my personal and professional growth.</p>
        </div>
    </div>
    <div class="card-align">
        <div class="card">
            <h2>Professional Expeirence</h2>
            <h3>Hexagon Capability Center India</h3>
            <h4>Intern Software Engineer</h4>
            <p>•	Collaborated with Team members to ensure that all project needs.</p>
            <p>•	I have worked on different areas which includes development and deployment.</p>
            <p>•	One notable achievement during this time was the development of an automation process that streamlined the performance testing process.</p>

        </div>
        <div class="card">
            <h3>Education</h3>
            <h3>B V Raju Institute of Technology - Hyderabad</h3>
            <p> B.tech (Computer Science Engineer) - 2023</p>
            <p></p>
        </div>

    </div>
    <div class="projects-card">
        <h3>
            Projects
        </h3>
        <h3>Covid Care</h3>
            <p>•    COVID CARE is a software product and web application, which provide related information about COVID.</p>
            <p>•	Here we developed one feature that is Chabot. It has the ability to interact with users.</p>
            <p>•	I took on the role of a front-end developer and actively collaborated with my teammates. One of my major contributions was designing the algorithm for the chatbot services.</p>
        <h3>Auto performance testing</h3>
        <p>•    During my internship at Hexagon Company, I had the opportunity to work on auto performance testing, a crucial software feature that ensures optimal application performance under various conditions.</p>
            <p>•     Automating the performance testing process proved to be highly efficient, saving time and effort</p>
            
    </div>
    <div class="skills-card">
        <h3>
            Skills set
        </h3>
        <div class="card-align">
        <div class="sub-card">
            <h3>Programming languages</h3>
            <p>Python </p>
            <p>SQL</p>
        </div>
        <div class="sub-card">
            <h3>Web technologies</h3>
            <p>Django</p>
            <p>Html & CSS</p>
            <p>JavaScript</p>
        </div>
        <div class="sub-card">
            <h3>Other key skills</h3>
            <p>Data Structures & Algorithms</p>
            <p>Agile methodologies</p>
            <p>Objct oriented design</p>
        </div>
        </div>
    </div>
    <div>
        <h2>profile links</h2>
    </div>
</body>
</html>
#git remote add origin https://github.com/Vamsich68/Django---sample-projects.git